# Description

You recently started working for a company as a supply chain analyst that creates and sells video games. Many businesses have to be on point when it comes to ordering supplies to meet the demand of its customers. An overestimation of demand leads to bloated inventory and high costs. Underestimating demand means many valued customers won't get the products they want. Your manager has tasked you to forecast monthly sales data in order to synchronize supply with demand, aid in decision making that will help build a competitive infrastructure and measure company performance. You, the supply chain analyst, are assigned to help your manager run the numbers through a time series forecasting model.

Youâ€™ve been asked to provide a forecast for the next 4 months of sales and report your findings.

# Data Wrangling

## Gather
Import monthly sales data

In [3]:
# Load dependencies
import pandas as pd

In [5]:
# Import monthly sales data
ms_df = pd.read_excel('data/monthly-sales.xlsx')

# Check data
ms_df.head()

     Month  Monthly Sales
0  2008-01         154000
1  2008-02          96000
2  2008-03          73000
3  2008-04          51000
4  2008-05          53000

## Assess

Quality
- Column names capitalized with spaces
- Month of type object
Structural
- None

In [19]:
# Visual assessment
ms_df.head()

     Month  Monthly Sales
0  2008-01         154000
1  2008-02          96000
2  2008-03          73000
3  2008-04          51000
4  2008-05          53000

Per the above visual assessment,
- Column names capitalized with spaces

In [11]:
# Check data types
ms_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
Month            69 non-null object
Monthly Sales    69 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

From the above assessment, the following data issue was determined: 
- Month is of type object

In [15]:
# Check value_counts
ms_df.iloc[:,1].value_counts()

96000     2
169000    2
223000    2
91000     2
77000     1
73000     1
392000    1
613000    1
354000    1
105000    1
326000    1
135000    1
553000    1
330000    1
51000     1
261000    1
84000     1
221000    1
271000    1
184000    1
95000     1
343000    1
464000    1
154000    1
118000    1
329000    1
322000    1
104000    1
53000     1
243000    1
         ..
460000    1
197000    1
59000     1
107000    1
346000    1
612000    1
560000    1
278000    1
335000    1
245000    1
289000    1
404000    1
231000    1
224000    1
518000    1
711000    1
172000    1
445000    1
167000    1
203000    1
347000    1
300000    1
234000    1
272000    1
210000    1
501000    1
680000    1
301000    1
467000    1
200000    1
Name: Monthly Sales, Length: 65, dtype: int64

From the above assessment, no data issues were determined.

In [18]:
# Check duplicates
ms_df.duplicated().sum()

0

There are no duplicates

## Clean

Quality
- lowercase and remove spaces for column names
- change Month to datetime datatype

Structural
- None

In [20]:
# Make a copy of ms_df
ms_df_clean = ms_df.copy()

### Change Column Names

#### Define
Lowercase and remove spaces for column names

#### Code

In [35]:
# Rename columns
ms_df_clean.rename(columns=lambda x: x.lower().replace(' ','_'), inplace=True)

#### Test

In [38]:
# Check column names
ms_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
month            69 non-null object
monthly_sales    69 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

### Change month Datatype

#### Define
Change month datatype from object to datetime

#### Code

In [44]:
# Change month datatype
ms_df_clean.loc[:,'month'] = pd.to_datetime(ms_df_clean.loc[:,'month'])

#### Test

In [45]:
# Check datatypes
ms_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
month            69 non-null datetime64[ns]
monthly_sales    69 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.2 KB

## Export

In [49]:
# Export ms_df_clean
ms_df_clean.to_csv('data/monthly-sales-clean.csv', index=False)

In [51]:
# Check exported data
pd.read_csv('data/monthly-sales-clean.csv').head()

        month  monthly_sales
0  2008-01-01         154000
1  2008-02-01          96000
2  2008-03-01          73000
3  2008-04-01          51000
4  2008-05-01          53000